<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nightingale</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nightingale</string>
			</array>
		</dict>
	</array>
	<key>REDIRECT_URI</key>
	<string>$(REDIRECT_URI)</string>
	<key>SOUND_CLOUD_CLIENT_ID</key>
	<string>$(SOUND_CLOUD_CLIENT_ID)</string>
	<key>SOUND_CLOUD_CLIENT_SECRET</key>
	<string>$(SOUND_CLOUD_CLIENT_SECRET)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
